<?xml version="1.0" encoding="UTF-8"?>
<phpunit backupGlobals="true"
		 colors="false"
		 convertErrorsToExceptions="true"
		 convertNoticesToExceptions="true"
		 convertWarningsToExceptions="true"
		 beStrictAboutTestsThatDoNotTestAnything="true"
		 beStrictAboutOutputDuringTests="true"
		 verbose="false">
	<testsuites>
		<testsuite name="gridengine-status">
			<directory suffix="Test.php">./tests</directory>
		</testsuite>
	</testsuites>
	<filter>
		<whitelist addUncoveredFilesFromWhitelist="true">
			<directory suffix=".php">./src</directory>
		</whitelist>
	</filter>
</phpunit>
