{% extends "base.html" %}

{% block content %}
<h1>{{ 'tool-labs'|message }}</h1>
<p>{{ 'tool-labs-desc'|message }}</p>
<h2>{{ 'status-header'|message }}</h2>

{% for hostname, host in hosts %}
<div class="hostline" id="{{ hostname }}">
  <span class="hostname">{{ hostname }}</span>
  <b>{{ 'status-load'|message }}</b> {{ host.load }}%
  <b>{{ 'status-memory'|message }}</b> {{ host.mem }}%
  {% if host.vmem > 0 %}<b>{{ 'status-free-vmem'|message }}</b> {{ host.vmem|humanmem }}{% endif %}
</div>
<table class="hostjobs tablesorter">
  <thead>
    <tr>
      <th>{{ 'status-number'|message }}</th>
      <th>{{ 'status-name'|message }}</th>
      <th>{{ 'status-tool'|message }}</th>
      <th>{{ 'status-state'|message }}</th>
      <th>{{ 'status-time'|message }}</th>
      <th>{{ 'status-cpu'|message }}</th>
      <th>{{ 'status-vmem'|message }}</th>
    </tr>
  </thead>
  <tbody>
    {% for jobid, job in host.jobs %}
    <tr class="jobline-{{ job.state }}" id="job-{{ jobid }}">
      <td class="jobno">{{ jobid }}</td>
      <td class="jobname">{{ job.name }}</td>
      <td class="jobtool"><a href="/?tool={{ job.tool }}">{{ job.tool }}</a></td>
      <td class="jobstate">{{ job.queue|capitalize }} / {{ job.state|capitalize }}</td>
      <td class="jobtime">{{ job.submit|date("Y-m-d H:i:s") }}</td>
      <td class="jobcpu">{% if job.cpu is not empty %}{{ job.cpu|humantime }}{% else %}{{ 'status-na'|message }}{% endif %}</td>
      <td class="jobvmem">{% if job.vmem is not empty %}{{ (job.vmem / 1024 / 1024)|humanmem }}/{{ (job.h_vmem / 1024 / 1024)|humanmem }}
        {% if job.maxvmem > job.vmem %}({{ 'status-peak'|message }} {{ (job.maxvmem / 1024 / 1024)|humanmem }}){% endif %}
        {% endif %}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endfor %}
{% endblock content %}

{% block javascript %}{% include '_tablesort-js.html' %}{% endblock javascript %}
